body{
	
	background-color: black;}

.bckgrnd{
	background-image: url("netback.jpg");
	height: 600px;
	color: white;
	padding-bottom: 20px;

}
p{color: rgb(255,255,255);}
nav{
	list-style: none;
	display:block;
	float: right;
}
.heaven img{

	height: 400px;
	width: auto;
	vertical-align: middle;
}
.heaven .joy{
	font-family: sans-serif;
	font-size: 50px;
}
.heaven .wat{
	font-family: sans-serif;
	font-size: 30px;
}
.heaven{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	border-top-style:hidden; 
	border-top-width: 10px;
	border-bottom-style: double;
	border-color: black;

}

.stranger img{
	height: 400px;
	width: auto;
	display: flex;
}
.stranger{

	margin-top: 50px;
	padding: 30px;
	border: 20px double;
	border-bottom-color: rgb(0,0,0);
}
.stranger p{
	font-family: sans-serif;
	font-size: 50px;
}
.stranger .next{
	font-size: 30px;
}
.middle{
	margin: 20px;
	padding: 30px;
	border: 15px double;
}
.middle img{
	vertical-align: middle;
	border: 15px double;
	height: 300px;
	width: auto;
}
.middle p{
	font-family: sans-serif;
	font-size: 50px;
}
.middle .tree{
	font-size: 30px;
}

.faq h1{
color: white;
direction: rtl;
display: block;
font-family:sans-serif;

font-size: 40px;
line-height: 44px;
margin-bottom: 8px;
text-align: center;}

.freq{
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: #303030;
	padding:10px;
	border-image-repeat: stretch;
	width: 60%;margin-left: 70px;
	display: block;
}

label{
	display: inline-block;
	text-align: center;
	color: rgb(0,0,0);
	width: 70%;
	padding: 20px;
	line-height: 40px;
}
.bars{
	background-color: red;
	height: 50px;
	font-family: sans-serif;
	font-size: 18px;
	padding-left: 0px;
	line-height: 40px;
	display: inline-block;

}
input{
	display: inline-block;
	text-align: left;
	color: rgb(0,0,0);
	width: 70%;
	padding: 20px;
	line-height: 10px;
	padding-right: 0px;
	margin-right: 0px;
}
}

